@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Ubuntu&display=swap');

html {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: #4A3731;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Glass Antiqua', Arial, Helvetica, sans-serif;
  color: #BE6360;
}
label {
  font-family: 'Glass Antiqua', Arial, Helvetica, sans-serif;
  color: #4A3731;
  font-weight: bold;
}

.input {
  margin: 0.5rem;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
}

.errors {
  color: #BE6360;
}
.steps {
  min-width: 30rem;
}

.Logo {
  color: #4A3731;
}
.error {
  color: darkred;
}